modules = ["java", "java-17"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Eventelope Runner"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "run_eventelope"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Advanced Assertions Test"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Variable Extraction Test"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Conditional Steps Test"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Eventelope All Tests"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Retry and Timeout Test"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Template Variables Test"

[[workflows.workflow]]
name = "Eventelope Runner"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./gradlew run --args=\"--testDir src/test/resources/testcases\""
waitForPort = 5000

[[workflows.workflow]]
name = "run_eventelope"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./gradlew run"

[[workflows.workflow]]
name = "Advanced Assertions Test"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./gradlew run --args=\"--testDir src/test/resources/testcases/advanced_assertions_test.yaml\""

[[workflows.workflow]]
name = "Variable Extraction Test"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./gradlew run --args=\"--testDir src/test/resources/testcases/variable_extraction_test.yaml\""

[[workflows.workflow]]
name = "Conditional Steps Test"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./gradlew run --args=\"--testDir src/test/resources/testcases/conditional_steps_test.yaml\""

[[workflows.workflow]]
name = "Eventelope All Tests"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./gradlew run --args=\"--testDir src/test/resources/testcases\""

[[workflows.workflow]]
name = "Retry and Timeout Test"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./gradlew run --args=\"--testDir src/test/resources/testcases/retry_and_timeout_test.yaml\""

[[workflows.workflow]]
name = "Template Variables Test"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./gradlew run --args=\"--testDir src/test/resources/testcases/template_variables_test.yaml\""

[deployment]
run = ["sh", "-c", "./gradlew run --args=\"--testDir src/test/resources/testcases\""]
