modules = ["java", "java-17"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Eventelope Runner"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "run_eventelope"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Advanced Assertions Test"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Complex JSON Test"

[[workflows.workflow]]
name = "Eventelope Runner"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./gradlew run --args=\"--testDir src/test/resources/testcases\""
waitForPort = 5000

[[workflows.workflow]]
name = "run_eventelope"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./gradlew run"

[[workflows.workflow]]
name = "Advanced Assertions Test"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./gradlew run --args=\"--testDir src/test/resources/testcases/advanced_assertions_test.yaml\""

[[workflows.workflow]]
name = "Run Complex JSON Test"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./gradlew run --args=\"--testDir src/test/resources/testcases/complex_json_payload_test.yaml\""

[deployment]
run = ["sh", "-c", "./gradlew run --args=\"--testDir src/test/resources/testcases\""]
