modules = ["java", "java-17"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run All Tests"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Eventelope"

[[workflows.workflow]]
name = "Run All Tests"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./mvnw compile exec:java -Dexec.args=\"--testDir src/test/resources/testcases\""

[[workflows.workflow]]
name = "Run Eventelope"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./mvnw exec:java -Dexec.args=\"--testDir src/test/resources/testcases\""

[deployment]
run = ["sh", "-c", "./mvnw exec:java -Dexec.args=\"--testDir src/test/resources/testcases\""]
